.slide-up-enter, .slide-up-leave-to {
  transform: translate3d(0, 100%, 0);
}

.slide-up-leave, .slide-up-enter-to {
  transform: translate3d(0, 0, 0);
}

.slide-down-enter, .slide-down-leave-to {
  transform: translate3d(0, -100%, 0);
}

.slide-down-leave, .slide-down-enter-to {
  transform: translate3d(0, 0, 0);
}


.slide-up-enter-active, .slide-down-enter-active {
  transition: transform 400ms;
}

.slide-up-leave-active, .slide-down-leave-active {
  transition: transform 200ms;
}


// ------------------------------------------
.fade-enter, .fade-leave-to {
  opacity: 0;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 300ms;
}

.fade-leave, .fade-enter-to {
  opacity: 1;
}
