.home {
  width: 100%;
  height: 100%;

  background-color: #f0f0f0;

  header {
    position: relative;
    width: 100%;
    height: 2.106667rem;

    color: #fff;
    background-color: #1daba7;

    .today {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: .346667rem;
      left: .6rem;

      // width: 3.28rem;
      height: .693333rem;

      .left {
        height: 100%;
        margin-right: .333333rem;
        font-size: .733333rem;
      }

      .right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        font-size: .266667rem;

        .year {
          display: block;
        }

        .wrapper {
          &>span:nth-child(1) {
            margin-right: .133333rem;
          }

          .caret {
            display: inline-block;
            margin-left: .266667rem;
            font-size: .4rem;
          }
        }
      }
    }

    .button {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      position: absolute;
      top: .386667rem;
      right: .6rem;

      width: .533333rem;
      height: .466667rem;

      .dot {
        $dotSize: .113333rem;
        width: $dotSize;
        height: $dotSize;
        border-radius: $dotSize / 2;

        background-color: #fff;
      }
    }

    .calendar-header {
      display: flex;
      justify-content: space-between;

      position: absolute;
      bottom: 0;
      width: 100%;
      height: .8rem;
      padding: 0 .24rem;

      span {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 1.253333rem;
        height: 100%;

        font-size: .333333rem;
      }
    }
  }

  .main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    width: 100%;
    padding: .24rem;
    padding-top: .186667rem;
    padding-bottom: .506667rem;

    background-color: #fff;

    .day {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      width: 1.253333rem;
      height: 1.253333rem;

      &.blur {
        .num {
          color: #1db3af;
        }
      }

      &.active {
        &:after {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border: .026667rem solid #b5b5b5;
          border-radius: .626667rem;
        }
      }

      &.today {
        &:after {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: .626667rem;
          background-color: #1db3af;
        }

        .num {
          z-index: 1;
          color: #fff;
        }

        .nong {
          display: none;
        }
      }

      &.invalid {
        .num {
          color: #b5b5b5;
        }
      }

      &.festival {
        .nong {
          color: #1db3af;
        }
      }

      .num {
        font-size: .4rem;
        color: #000;
      }

      .nong {
        position: absolute;
        bottom: 0;
        font-size: .32rem;
        color: #b5b5b5;
      }
    }
  }
}
